@import url('//fonts.googleapis.com/css?family=Rye');
@import url('//fonts.googleapis.com/css?family=Archivo+Black');

        .jumbo{
            text-align: center;
            background: -webkit-linear-gradient(270deg, #151101, #412E28);
            color: #B3204D;
            margin: 0;
            padding: 5px;
            background-image: url("/static/img/header.png");
            background-size:cover;
            /* ;
            background-position: 100% 50%; */
        }
        .formulario{
          background:#EDF6EE;
        }
        .img2{
          width: 445px;
          height: 410px;
          object-fit: cover;
        }
        .menu{
            /* background:-webkit-radial-gradient(center, 50em 100px, #B3204D, #151101);            */
            background-color: #151101;
        }
        .menu a{
            color: #EDF6EE;
            font-size: large;            
            text-align: center;
            font-weight: bold;   
        }
        .menu a:hover{
          display: block;
          color: #EDF6EE;
          background:#B3204D;
          box-shadow: 0 0 5px #B3204D,
                      0 0 25px #B3204D,
                      0 0 50px #B3204D,
                      0 0 100px #B3204D;
        }
        body{
          color: #151101; 
          background-color:#D1C089; 
        } 
        h4.title{
          color: black;
        }
        h1.header1{
          color: rgb(0, 129,70);
          text-align: center;
          padding: 0px;
          margin: 0px;
          font-family: 'Rye';
          font-size:68px;
          text-shadow:1px 1px 0 #EDF6EE , 1.5px 1.5px 0 #151101; 
        }  
        h1.header2{
          color: #B3204D;
          text-align: left;
          font-weight: bold;
          display: inline;
        }
        h5.header3{
          color: #412E28;
          padding: 0%;
          margin: 0%;
          font-family: 'Archivo Black';
          font-weight: bold;
          font-size: medium;
          text-shadow: 1px 1px 1px #EDF6EE;
        }        
        h2.headertekst {
          text-align: center;
        }
        h6.contactanos {
          text-align: left;
          color: #151101;
        }
        .separacion{
            margin-top: 30px; 
            align-content: center;                   
        }
        .separation{
          padding-top: 1em;                     
        }       
        .footer{
            background-color: #111;   
            text-align: center;
            color: #EDF6EE;
            padding: 15px;
        }
        ul, li {
          margin-top: 0px;
          padding-top: 0px;
          list-style: none;
          padding: 0px;
          margin: 0px;
          display: inline-flex;
          margin-left: 30px;
          color:#EDF6EE;
          font-size:24px;
      }
      a{  
        color:#EDF6EE;
      }
      .center {
        margin-left: auto;
        margin-right: auto;
      }